@import 'utils.scss';

.app {
	display: grid;
	min-height: 100vh;

	&__welcome {
		grid-row: 2;
	}

	@include themed-media('mobile') {
		&__footer,
		&__main {
			background-color: var(--app-color-surface-card);
		}

		&__main-card {
			box-shadow: none !important;
			outline: none !important;
		}
	}

	@include themed-media('tablet', 'mobile') {
		background-color: var(--app-color-surface-background-light);
		grid-template-rows: min-content min-content 1fr min-content;

		&__header,
		&__footer {
			padding: var(--app-shape-spacing-medium);
		}
		&__welcome {
			padding: var(--app-shape-spacing-medium);
		}
	}

	@include themed-media('desktop', 'tablet') {
		justify-content: center;
	}

	@include themed-media('desktop') {
		align-items: center;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: min-content 1fr min-content;

		&__header,
		&__footer {
			padding: var(--app-shape-spacing-large);
			grid-column: 2;
		}

		&__welcome {
			padding: 0 var(--app-shape-spacing-large);
		}

		&__main {
			grid-row: 1 / span 3;

			box-sizing: border-box;
			display: flex;
			justify-content: center;
			align-items: center;

			height: 100%;
			padding: var(--app-shape-spacing-medium);
			background-color: var(--app-color-surface-background-light);
			background-image: var(--app-image-background-src);
			background-size: var(--app-image-background-size)
				var(--app-image-background-size);
		}
	}
}
