@import 'utils.scss';

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__copyright {
		color: var(--app-color-text-dimmed);
	}

	.github-link {
		margin-left: var(--app-shape-spacing-large);
		border-radius: 50%;
		display: flex;

		&:focus-visible {
			@include focus-ring;
		}

		&__icon {
			color: var(--app-color-text-default);
			width: 2rem;
			height: 2rem;
			transition: themed-transition(color);

			&:hover {
				color: var(--app-color-text-active);
			}
		}
	}
}
