.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;

	&__copyright {
		color: #444;
	}

	&__github {
		color: #fff;
		width: 2rem;
		height: 2rem;
		transition: themed-transition(color);

		&:hover {
			color: #cdcdcd;
		}
	}
}
