@import 'utils.scss';

$dots-background-size: 50px;
$dots-background-dot-size: 1px;

/* Common variables for both themes */
:root {
	/* Fonts */
	--app-font-family-heading: 'Inter', serif;
	--app-font-family-body: 'Inter', sans-serif;
	font-size: 18px;
	--app-font-size-tiny: 0.75rem;
	--app-font-size-small: 0.875rem;
	--app-font-size-medium: 1rem;

	@include themed-media('mobile') {
		--app-font-size-h1: 2rem;
		--app-font-size-h2: 1.85rem;
		--app-font-size-h3: 1.75rem;
		--app-font-size-h4: 1.6rem;
		--app-font-size-h5: 1.5rem;
		--app-font-size-h6: 1.25rem;
		--app-font-size-button: 1rem;
	}

	@include themed-media('desktop', 'tablet') {
		--app-font-size-h1: 3.5rem;
		--app-font-size-h2: 3rem;
		--app-font-size-h3: 2.75rem;
		--app-font-size-h4: 2.125rem;
		--app-font-size-h5: 1.5rem;
		--app-font-size-h6: 1.25rem;
		--app-font-size-button: 0.9rem;
	}
	/* Transitions */
	--app-transition-easing-standard: cubic-bezier(0.4, 0, 0.2, 1);
	--app-transition-duration-short: 50ms;
	--app-transition-duration-standard: 150ms;

	/* Shape definitions */
	$spacing-step: 8px;
	--app-shape-spacing-tiny: #{$spacing-step * 0.5};
	--app-shape-spacing-small: #{$spacing-step};
	--app-shape-spacing-medium: #{$spacing-step * 2};
	--app-shape-spacing-large: #{$spacing-step * 4};
	--app-shape-radii-small: 5px;
	--app-shape-radii-medium: 10px;
	--app-shape-outline-focus: 3px;
	--app-shape-icon-size: 1.5rem;
	--app-shape-track-height: 1rem;
	--app-shape-track-width: 45px;
	--app-shape-logo-size: 60px;
	--app-image-background-size: #{$dots-background-size};
}

/* Variables for dark theme. */
html {
	color-scheme: dark;
	--app-color-surface-background: #030303;
	--app-color-surface-background-light: #050505;
	--app-color-surface-card: #111;
	--app-color-surface-field: #050505;
	--app-color-surface-switch-track: #202020;
	--app-color-surface-button: #303030;
	--app-color-surface-disabled: #030303;
	--app-color-text-default: #cdcdcd;
	--app-color-text-dimmed: #888;
	--app-color-text-active: #fff;
	--app-color-text-error: #f4256d;
	--app-color-text-disabled: #4d4d4d;
	--app-color-outline-focus: #669df6;
	--app-image-background-src: #{dots-grid(
			#272727,
			$dots-background-dot-size,
			$dots-background-size
		)};
	--app-image-button-loading: radial-gradient(
		circle at 50% 10%,
		#df94f4 20%,
		#3272ff,
		transparent 40%
	);
	--app-color-outline-card: transparent;
	--app-shadow-elevation-small: none;
}

/* Variables for light theme. */
html.theme-light {
	color-scheme: light;
	--app-color-surface-background: #ffffff;
	--app-color-surface-background-light: #f8f8f8;
	--app-color-surface-card: #ffffff;
	--app-color-surface-field: #e4e4e4;
	--app-color-surface-switch-track: #818181;
	--app-color-surface-button: #e4e4e4;
	--app-color-surface-disabled: #bebebe;
	--app-color-text-default: #1c2531;
	--app-color-text-dimmed: #4b5563;
	--app-color-text-active: #000;
	--app-color-text-error: #b00020;
	--app-color-text-disabled: #4d4d4d;
	--app-color-outline-focus: #669df6;
	--app-color-outline-card: #f3f3f3;
	--app-image-background-src: #{dots-grid(
			#dddddd,
			$dots-background-dot-size,
			$dots-background-size
		)};
	--app-shadow-elevation-small: rgba(0, 0, 0, 0.05) 0px 1px 3px,
		rgba(0, 0, 0, 0.05) 0px 10px 15px -5px,
		rgba(0, 0, 0, 0.05) 0px 7px 7px -5px;
}

html {
	color: var(--app-color-text-default);
	background-color: var(--app-color-surface-background);
	font-family: var(--app-font-family-body);
}

body {
	margin: 0;
}

.ionicon {
	width: var(--app-shape-icon-size);
	height: var(--app-shape-icon-size);
}
