@import 'utils.scss';

.icon-button {
	/* Reset styles */
	background: none;
	border: none;
	outline: none;
	-webkit-tap-highlight-color: transparent;

	/* Layout */
	display: flex;

	/* View styles */
	padding: var(--app-shape-spacing-small);
	border-radius: var(--app-shape-radii-small);
	color: inherit;
	cursor: pointer;
	transition: themed-transition(transform, short);

	&:active {
		transform: scale(0.9);
		transition: themed-transition(transform);
	}

	&:focus-visible {
		@include focus-ring;
	}
}
