@import 'utils.scss';

.field {
	--field-color-surface: var(--app-color-surface-field);
	--field-color-text: var(--app-color-text-body);

	color: var(--field-color-text);

	&__area {
		/* Layout */
		display: grid;
		grid-template-columns: min-content 1fr min-content;

		/* Positioning */
		position: relative;

		/* View styles */
		border-radius: var(--app-shape-radii-small);
		background-color: var(--field-color-surface);
		margin-top: var(--app-shape-spacing-tiny);
	}

	&__input {
		/* Unset default styles */
		outline: none;
		border: none;
		background: none;
		padding: 0;
		width: 100%;

		/* Positioning */
		grid-column: 2;
		grid-row: 2;

		/* View styles */
		text-overflow: ellipsis;
		font-family: var(--app-font-family-body);
		font-size: var(--app-font-size-medium);
		padding: var(--app-shape-spacing-small);
		padding-top: calc(
			var(--app-shape-spacing-small) + var(--app-font-size-tiny)
		);
	}

	&--error {
		--field-color-text: var(--app-color-text-error);
	}

	&__helper-text {
		font-size: var(--app-font-size-small);
		margin: var(--app-shape-spacing-tiny) var(--app-shape-spacing-small);
		white-space: pre;
	}

	&__label {
		/* Positioning */
		grid-column: 2;
		grid-row: 1;
		position: absolute;
		padding-left: var(--app-shape-spacing-small);
		// Calculate total space and divide it to two - for top and bottom paddings.
		top: calc(
			(
					var(--app-shape-spacing-small) + var(--app-font-size-tiny) +
						var(--app-shape-spacing-small)
				) / 2
		);

		/* View styles */
		font-size: var(--app-font-size-medium);
		pointer-events: none;
		transition: themed-transition(top), themed-transition(font-size);
	}

	&__input:focus ~ &__label,
	&__input:not(:placeholder-shown) ~ &__label {
		top: var(--app-shape-spacing-tiny);
		font-size: var(--app-font-size-tiny);
	}

	&__start-adornment,
	&__end-adornment {
		grid-row: 1 / span 2;
		display: flex;
		align-items: center;
	}

	&__start-adornment {
		padding-left: var(--app-shape-spacing-small);
	}

	&__end-adornment {
		grid-column: 3;
		padding-right: var(--app-shape-spacing-small);
	}
}
