@import 'utils.scss';

.form {
	display: flex;
	flex-direction: column;

	&__submit-button {
		width: 100%;
		margin: var(--app-shape-spacing-medium) 0;
	}

	&__nav {
		margin-bottom: var(--app-shape-spacing-medium);
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

.link {
	text-decoration: none;
	color: var(--app-color-text-default);
	transition: themed-transition(color, short);

	&:focus-visible {
		border-radius: var(--app-shape-radii-small);
		@include focus-ring;
	}

	&:hover {
		color: var(--app-color-text-active);
		text-decoration: underline;
	}
}
